header {
    position: relative;
}

.titel-bild {
    background-color: #EC671B;
}

.rechts-unten {
    position: absolute;
    right: 1rem;
    bottom: 0;
    width: 20%;
}

#ontop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}