/* Basic styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

nav {
    background: rgb(153, 52, 52);
    padding: 1em;
}

ul {
    list-style-type: none;
}

a,
.logo {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 1rem;
    padding: 1em;
    white-space: nowrap;
}

.item.active {
    display: block;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ul-list {
    display: none;
}

.menubutton {
    text-align: right;
}

.toogle {
    order: 0;
}

.toggle {
    flex: 1;
    text-align: right;
}

.menu-item.button {
    order: 1;
}

.menu-item {
    width: 100%;
    text-align: center;
    order: 2;
}

.button {
    border-bottom: 2px rgb(0, 0, 0) solid;
}

.button a {
    padding: 7.5px 15px;
    background: rgb(0, 0, 0);
    border: 1px #3d0000 solid;
}

.button a:hover {
    text-decoration: none;
    background: #3d0101;
    border-color: #242424;
}


/* Tablet menu */

@media all and (min-width: 37.5em) {
    .logo {
        flex: 1;
    }
    .menu-item.button {
        width: auto;
        border-bottom: 0;
    }
}


/* Desktop menu */

@media all and (min-width: 60em) {
    .menu-item {
        width: auto;
    }
    .logo {
        order: 0;
    }
    .menu-item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li.button {
        padding-right: 0;
    }
    .toggle {
        display: none;
    }
    .ul-list {
        display: block;
    }
    .menubutton {
        display: none;
    }
}