body {
    font: 1.1em/120% Georgia, Times, serif;
}

table {
    width: 700px;
    /* empty-cells: hide; */
    empty-cells: show;
}

th {
    padding: 5px;
    border: 1px solid black;
}

td {
    padding: 5px;
    border: 1px solid black;
}