/* 
   Styles for the example: /examples/chapter010/10_1_6/index.html
*/

body {
  font-family: Arial, Verdana;
  color: white;
  background: gray;
}

article {
  border: 4px dotted black;
  background: lightblue;
  color: black;
}

p {
  border: inherit;
  background: lightgray;
  color: unset;
}

.p_outside {
  all: initial; 
  display: block;
  margin: 5px;
  color: silver;
}
