/* 
   Styles for the example: /examples/chapter010/10_2_4/index.html
*/

.aclass { color: green; }
#index li.aclass { color: orange; } 
li { color: red; }  
li.aclass { color: blue; }
body article ul li { color: yellow; } 
#index li { color: gray; }