@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.footer,
.header {
    background-color: papayawhip;
    border: 1px solid black;
    padding: 2% 2%;
    text-align: center;
}