label {
  min-width: 5em;
  display: inline-block;
  text-align: left;
}
#meilen, #yard {
  color: grey;
}
fieldset {
 width: 25em;
 padding: 2em;
 background: seashell;
 border: 1px solid sienna;
}
legend {
  background: white;
  padding: 0.2em;
  border: 1px solid sienna;
}