body {
    font: 1.1em/120% Georgia, Times, serif;
}

.large {
    width: 325px;
    height: 267px;
}

.medium {
    width: 225px;
    height: 184px;
}

.small {
    width: 125px;
    height: 103px;
}

.align-left {
    float: left;
    margin: 0 0.6em 0.3em 0;
}

.align-right {
    float: right;
    margin: 0 0 0.3em 0.6em;
}

.align-center {
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
}