body {
    font: 1.1em/120% Georgia, Times, serif;
}

.large {
    width: 325px;
    height: 267px;
}

.medium {
    width: 225px;
    height: 184px;
}

.small {
    width: 125px;
    height: 103px;
}