html { font-size: 100%; }
body { 
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 0.9375rem;
}
footer, header {
  background-color: papayawhip;
  border: 1px solid black;
  padding: 2% 2%;
  text-align:center;
} 
article {
  font-family: Georgia, Times, serif;
  font-size: 0.8125rem;  
 }
p { font-size: 0.8125rem; }